.tooltip{
  position: relative;
}
  
/* Tooltip text */
.tooltiptext {
  visibility: visible;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Position the tooltip text */
  position: absolute;
  padding: 0.5rem;
  top: 130%;
  right: 0;
  margin-top: 10px;
  margin-left: -85px; 
  z-index: 50;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

/* Add the cool little triangle */
.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--secondary) transparent;
}
